@use '../../styles/_responsive' as rwd; 

.text { 
    white-space: pre-line
}

.xsmall {
    composes: text;
    @include rwd.breakpoint(small) {
        font-size: 10px;
    }
    @include rwd.breakpoint(medium) {
        font-size: 15px;
    }
    @include rwd.breakpoint(large) {
        font-size: 20px;
    }
}


.small {
    composes: text;
    @include rwd.breakpoint(small) {
        font-size: 12px;
    }
    @include rwd.breakpoint(medium) {
        font-size: 18px;
    }
    @include rwd.breakpoint(large) {
        font-size: 24px;
    }
}

.normal {
    composes: text;
    @include rwd.breakpoint(small) {
        font-size: 15px;
    }
    @include rwd.breakpoint(medium) {
        font-size: 22px;
    }
    @include rwd.breakpoint(large) {
        font-size: 30px;
    }
}

.large {
    composes: text;
    @include rwd.breakpoint(small) {
        font-size: 18px;
    }
    @include rwd.breakpoint(medium) {
        font-size: 27px;
    }
    @include rwd.breakpoint(large) {
        font-size: 36px;
    }
}

.xlarge {
    composes: text;
    @include rwd.breakpoint(small) {
        font-size: 24px;
    }
    @include rwd.breakpoint(medium) {
        font-size: 36px;
    }
    @include rwd.breakpoint(large) {
        font-size: 48px;
    }
}
  

$breakpoints: (
	"phone" : "(max-width: 360px)",
	"large-phone" : "(max-width: 480px)",
	"small-tablet" : "(max-width: 600px)",
	"tablet" : "(max-width: 768px)",
	"large-tablet" : "(max-width: 1024px)",
	"laptop" : "(max-width: 1280px)",
	"large-laptop" : "(max-width: 1366px)",
	"ultra" : "(max-width: 1600px)",
);