$break-point: 1080px;

.wrapper {
    padding: 0 32px;
    @media (max-width: $break-point) {
    overflow: auto;
    }
}

.itemLegendContainter {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 48px;
    max-width: 60vw;
    margin: 0 0 0 196px;
    padding: 0;
    @media (max-width: $break-point) {
    gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
    }
}

.rowContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.singleRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    list-style: none;
    padding: 0;
    margin: 16px 0;
}

.singleItemContainer {
    width: 110px;
    height: 110px;
    box-shadow: 0px 14px 16px -15px rgba(4, 4, 8, 1);
}

.emptyItemContainer {
    flex: 1;
}

.subTitlesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.singleRowGrid {
    display: grid;  
    grid-template-columns: repeat(12, 110px);
    gap: 16px;
    list-style: none;
    padding: 0;
}

.singleRow-14 {
    composes: singleRowGrid;
    grid-template-columns: repeat(14, 110px);
}

.singleRow-13 {
    composes: singleRowGrid;
    grid-template-columns: repeat(13, 110px);
}

.singleRow-12 {
    composes: singleRowGrid;
    grid-template-columns: repeat(12, 110px);
}

.singleRow-11 {
    composes: singleRowGrid;
    grid-template-columns: repeat(11, 110px);
}

.singleRow-10 {
    composes: singleRowGrid;
    grid-template-columns: repeat(10, 110px);
}

.singleRow-9 {
    composes: singleRowGrid;
    grid-template-columns: repeat(9, 110px);
}

.singleRow-8 {
    composes: singleRowGrid;
    grid-template-columns: repeat(8, 110px);
}

.break {
    text-align: center;
    padding: 128px 0;
}