//BASIC COLORS
$black: #101010;
$white: #FFFFFF;

// PRIMARY COLORS
// $primary: #8D22B1;
$primary: #6E07F3;
$primary100: #000000;
$primary200: #111111;


// SECONDARY COLORS
$secondary: #F46632;

// OTHER COLORS
$green100: #00FF00;