//BASIC COLORS
$black: #101010;
$white: #FFFFFF;

// PRIMARY COLORS
$primary: #6E07F3;
$primary100: #9900AD;
$primary200: #111111;


// SECONDARY COLORS
$secondary: #F46632;

// OTHER COLORS
$green100: #5BE9B9;
$aqua100: #00FFFF;