//BASIC COLORS
$black: #101010;
$white: #FFFFFF;

// PRIMARY COLORS
$primary: #6E07F3;
$primary100: #d700f3;
$primary200: #111111;


// SECONDARY COLORS
$secondary: #F46632;

// OTHER COLORS
$green100: #00FF00;
$aqua100: #00FFFF;