$break-point: 1080px;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    min-width: 40px;
    width: 40px;
    height: max-content;
    padding: 16px 0;
    margin: auto 0;
    background-color: #f8ff91;
    box-shadow: 0px 14px 16px -15px rgba(4, 4, 8, 1);
    border-radius: 4px;
    font-size: 20px;
    @media (max-width: $break-point) {
        font-size: 16px;
    }
}

.emptyContainer {
    min-width: 160px;
    width: 160px;
}

.left {
    margin-right: 8px;
}

.right {
    margin-left: 8px;
}