@use '../../styles/_responsive' as rwd;
@use '../../styles/_globals' as global;
@use '../../styles/_colors' as colors;  


.listItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 16px;
    box-shadow: 0px 2px 10px 1px colors.$primary;
}

.listItemChecked {
    background-color: colors.$primary;
}

.listItemDisabled {
    opacity: 0.2;
}

.input {
    //TODO
    position: absolute; 
    overflow: hidden; 
    clip: rect(0 0 0 0); 
    height: 1px; width: 1px; 
    margin: -1px; 
    padding: 0; 
    border: 0; 
}

.label {
    display: flex;
    justify-content: center;
    padding: 8px;
    cursor: pointer;
    height: 100%;
    width: 100%;
}