@use '../../../styles/_responsive' as rwd;
@use '../../../styles/_globals' as global;
@use '../../../styles/_colors' as colors;  

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.servicesContainer {
    display: flex;
    flex-direction: row;
    @include rwd.breakpoint(small) {
        flex-direction: column;
    }
}

.list {
    @include global.list-reset;
    display: flex;
    text-align: center;
    align-self: center;
    flex: 1;
    gap: 48px;
    @include rwd.breakpoint(small) {
        flex-direction: column;
        gap: 32px;
    }
}

.text {
    align-self: center;
    color: colors.$primary;
}

.textChecked {
    color: colors.$white;
}

.summaryButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 80px;
}