@use '../../styles/_globals' as global; 
@use '../../styles/_responsive' as rwd; 
@use '../../styles/_colors' as colors; 
@use '../../styles/_accessibility' as acc; 

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;
    width: 100%;
    height: 80px;
}

.icon {
    width: max-content;
    height: 100%;

    @include rwd.breakpoint(small) {
        width: 80px;
        height: 60px;
        margin-left: -12px;
    }
}

.iconWithNavigationOpen {
    composes: icon;
    
    @include rwd.breakpoint(small) {
    position: fixed;
    g > path {
        fill: colors.$white;
      }
    }
}

.logoWrapper {
    width: 100px;
    height: 80px;
    z-index: 2;
    cursor: pointer;

    @include rwd.breakpoint(small) {
        width: 80px;
        height: 60px;
    }
    
    @include acc.focus;
}

.burgerNavigationContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;

    @include rwd.breakpoint(small) {
        flex-direction: column;
        align-items: center;
    }
    @include global.list-reset;
}

.navigation {
    composes: burgerNavigationContainer;
    @include rwd.breakpoint(small) {
        display: none;
    }
}

.burgerNavigationOpen {
    display: flex;
    justify-content: center;
    flex-direction: row;
    
    @include rwd.breakpoint(small) {
        position: fixed;
        flex-direction: column;
        height: 100%;
        width: 100%;
        right: 0px;
        top: 0px;
        background-color: colors.$primary;
        color: colors.$white;
    };
    transition: .3s ease-in-out;
}

.navigationItem {
    flex-grow: 1;
    margin-left: 48px;
    @include rwd.breakpoint(small) {
        margin-left: 0;
        margin-bottom: 48px;
    };
}

.navigationLink {
    text-decoration: none;
    position: relative;
    @include acc.focus;
}

.navigationLink::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    background-color: colors.$primary;
    height: 2px;
    border-radius: 10px;
    transition: .3s ease-in-out;
}

.navigationLink:hover::after {
    width: 100%;
}

.registerButtonWrapper {
    @include rwd.breakpoint(small) {
        display: none;
    }
}

.navigationRight {
    @include global.list-reset;
    @include rwd.breakpoint(small) {
        display: flex;
        margin-right: 40px;
    }
}

.navigationRightOpen {
    composes: navigationRight;
    @include rwd.breakpoint(small) {
        display: flex;
        margin-right: 48px;
    }
}

.burger {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40px;
    height: 40px;
    right: 18px;
    top: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background: rgba(50, 50, 51, 0.1);
    border-radius: 20px;
    @include acc.focus;
    @include rwd.breakpoint(medium) {
        display: none;
    }
    
    @include rwd.breakpoint(large) {
        display: none;
    }
    transition: transform 0.4s ease-in-out;
}

.burgerOpen {
    composes: burger;

    transform: rotate(225deg);
    transition: transform 0.4s ease-in-out;
    background-color: colors.$white;

    :first-child {
        transform: rotate(-90deg) translateX(-4px);
    }
    :nth-child(2) {
        transform: rotate(-180deg) translateY(4px);
    }
    :nth-child(3) {
        display: none;
    }
}

.burgerLine {
    width: 20px;
    height: 4px;
    background-color: colors.$primary;
    margin: 2px;
    border-radius: 16px;
}
