@use '../../styles/_responsive' as rwd; 

.wrapper {
    display: flex;
    margin: 0 auto;
    width: 100%;

    @include rwd.breakpoint(small) {
        padding: 0 30px;
    }
    @include rwd.breakpoint(medium) {
        padding: 0 40px;
    }
    @include rwd.breakpoint(large) {
        padding: 0 40px;
        max-width: 1561px;
    }
}