@use '../../../styles/_responsive' as rwd;
@use '../../../styles/_globals' as global;
@use '../../../styles/_colors' as colors;  

.container {
    display: flex;
    flex-direction: column;
}

.list {
    @include global.list-reset;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 64px;
    @include rwd.breakpoint(small) {
        flex-direction: column;
        gap: 48px;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}